@charset "UTF-8";

/* Webfont: FangSong */@font-face {
    font-family: 'FangSong';
    src: url('./simfang.eot'); /* IE9 Compat Modes */
    src: url('./simfang.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./simfang.woff') format('woff'), /* Modern Browsers */
         url('./simfang.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./simfang.svg#FangSong') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Calibri */@font-face {
    font-family: 'Calibri';
    src: url('./Calibri.eot'); /* IE9 Compat Modes */
    src: url('./Calibri.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Calibri.woff') format('woff'), /* Modern Browsers */
         url('./Calibri.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Calibri.svg#Calibri') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "fantuan-icon";
  src:url("./fantuan-icon.eot");
  src:url("./fantuan-icon.eot?#iefix") format("embedded-opentype"),
  url("./fantuan-icon.woff") format("woff"),
  url("./fantuan-icon.ttf") format("truetype"),
  url("./fantuan-icon.svg#fantuan-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fantuan-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align:middle;
}

[class^="ft-"]:before,
[class*=" ft-"]:before {
  font-family: "fantuan-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align:middle;
}

.ft-up-circled:before {
  content: "\e000";
}
.ft-micro-record-streamline:before {
  content: "\e001";
}
.ft-tb-restaurant:before {
  content: "\e002";
}
.ft-tb-filter:before {
  content: "\e004";
}
.ft-tb-grouping:before {
  content: "\e005";
}
.ft-tb-home:before {
  content: "\e006";
}
.ft-tb-mysetting:before {
  content: "\e007";
}
.ft-tb-searchgroup:before {
  content: "\e003";
}
.ft-heart:before {
  content: "\e009";
}
.ft-star-two:before {
  content: "\e008";
}
.ft-location:before {
  content: "\e00a";
}
